<h1>Hot Spotter</h1>

        <% if logged_in? %>
            <%= link_to 'Post Update', new_update_path, class: 'btn' %>


        <% else %>
        	<%= link_to 'Sign In', new_session_path, class: 'btn' %>
       		<%= link_to 'Sign Up', new_user_path, class: 'btn' %>
       	<% end %>
     