<div class = "circle lightest">
	<div class = 'category textFont normalText smallerText leftText darkText'>
		Restaurants
	</div>
</div>
<div class = "circle light">
	<div class = 'category textFont normalText smallerText leftText darkText'>
		Night Life
	</div>
</div>
<div class = "circle normal">
	<div class = 'category textFont normalText smallerText leftText darkText'>
		Theatre
	</div>
</div>
<div class = "circle medium">
  <div class = 'category textFont normalText smallerText leftText darkText'>
    Athletic
  </div>
</div>
<div class = "circle dark">
  <div class = 'category textFont normalText smallerText leftText darkText'>
    Family
  </div>
</div>

<script type="text/javascript">
window.HeatMapModule = (function() {
  var updatesPositions;

   $('.lightest').click( function() {
      heatmap.setMap(null)
      j=0;
      heatData = new Array
      for (var i=0; i<updatesPositions.length ;i++)
      { 
         if (updatesPositions[i]['cat'] == 1)
         {
           lat= updatesPositions[i]['lat']
           lng= updatesPositions[i]['lng']
           heatData[j] = new google.maps.LatLng(lat, lng);
           j=j+1;
         }
      }
      heatmap = new google.maps.visualization.HeatmapLayer({
         data: heatData,
         radius: 20
      });
       heatmap.setMap(map);
     });

   $('.light').click( function() {
      heatmap.setMap(null)
      j=0;
      heatData = new Array
      for (var i=0; i<updatesPositions.length ;i++)
      { 
         if (updatesPositions[i]['cat'] == 2)
         {
           lat= updatesPositions[i]['lat']
           lng= updatesPositions[i]['lng']
           heatData[j] = new google.maps.LatLng(lat, lng);
           j=j+1;
         }
      }
      heatmap = new google.maps.visualization.HeatmapLayer({
         data: heatData,
         radius: 20
      });
       heatmap.setMap(map);
     });

   $('.normal').click( function() {
      heatmap.setMap(null)
      j=0;
      heatData = new Array
      for (var i=0; i<updatesPositions.length ;i++)
      { 
         if (updatesPositions[i]['cat'] == 3)
         {
           lat= updatesPositions[i]['lat']
           lng= updatesPositions[i]['lng']
           heatData[j] = new google.maps.LatLng(lat, lng);
           j=j+1;
         }
      }
      heatmap = new google.maps.visualization.HeatmapLayer({
         data: heatData,
         radius: 20
      });
       heatmap.setMap(map);
     });

   $('.medium').click( function() {
      heatmap.setMap(null)
      j=0;
      heatData = new Array
      for (var i=0; i<updatesPositions.length ;i++)
      { 
         if (updatesPositions[i]['cat'] == 4)
         {
           lat= updatesPositions[i]['lat']
           lng= updatesPositions[i]['lng']
           heatData[j] = new google.maps.LatLng(lat, lng);
           j=j+1;
         }
      }
      heatmap = new google.maps.visualization.HeatmapLayer({
         data: heatData,
         radius: 20
      });
       heatmap.setMap(map);
     });

   $('.dark').click( function() {
      heatmap.setMap(null)
      j=0;
      heatData = new Array
      for (var i=0; i<updatesPositions.length ;i++)
      { 
         if (updatesPositions[i]['cat'] == 5)
         {
           lat= updatesPositions[i]['lat']
           lng= updatesPositions[i]['lng']
           heatData[j] = new google.maps.LatLng(lat, lng);
           j=j+1;
         }
      }
      heatmap = new google.maps.visualization.HeatmapLayer({
         data: heatData,
         radius: 20
      });
       heatmap.setMap(map);
     });

      return {
    start: function(opts) {
      updatesPositions = opts.updatesPositions;
    }
  };
}());

</script>

