<div class = "circle lightest">
	<div class = 'category textFont normalText smallerText leftText darkText'>
		Restaurants
	</div>
</div>
<div class = "circle light">
	<div class = 'category textFont normalText smallerText leftText darkText'>
		Night Life
	</div>
</div>
<div class = "circle normal">
	<div class = 'category textFont normalText smallerText leftText darkText'>
		Theatre
	</div>
</div>
<div class = "circle medium">
	<div class = 'category textFont normalText smallerText leftText darkText'>
		Athletic
	</div>
</div>
<div class = "circle dark">
	<div class = 'category textFont normalText smallerText leftText darkText'>
		Family
	</div>
</div>