<div class = "circle lightest">
	<div class = 'category textFont normalText smallerText leftText darkText'>
		Restaurants
	</div>
</div>
<div class = "circle light">
	<div class = 'category textFont normalText smallerText leftText darkText'>
		Night Life
	</div>
</div>
<div class = "circle normal">
	<div class = 'category textFont normalText smallerText leftText darkText'>
		Entertainment
	</div>
</div>
<div class = "circle medium">
  <div class = 'category textFont normalText smallerText leftText darkText'>
    Athletic
  </div>
</div>
<div class = "circle dark">
  <div class = 'category textFont normalText smallerText leftText darkText'>
    Family
  </div>
</div>
<div class = "circle darkest">
  <div class = 'category textFont normalText smallerText leftText darkText'>
    All 
  </div>
</div>

<script type="text/javascript">
window.HeatMapModule = (function() {
  var updatesPositions;

   $('.lightest').click( function() {
      heatmap.setMap(null);
      heatmap.setMap(null);
      var j=0;
      var k=0
      heatData = new Array;
      heatData_other = new Array;
      for (var i=0; i<updatesPositions.length ;i++)
      { 
         if (updatesPositions[i]['cat'] == 7)
         {
           lat= updatesPositions[i]['lat'];
           lng= updatesPositions[i]['lng'];
           heatData[j] = new google.maps.LatLng(lat, lng);
           j=j+1;
         }
         else
         {
          lat= updatesPositions[i]['lat'];
          lng= updatesPositions[i]['lng'];
          heatData_other[k] = new google.maps.LatLng(lat, lng);
          k=k+1;
         }         
      }
      heatmap = new google.maps.visualization.HeatmapLayer({
         data: heatData,
         radius: 15,
         opacity: 0.8
      });
      heatmap.setMap(map);
      heatmap = new google.maps.visualization.HeatmapLayer({
         data: heatData_other,
         radius: 15,
         opacity: 0.2
      });
       heatmap.setMap(map);
     });

   $('.light').click( function() {
      heatmap.setMap(null);
      var j=0;
      var k=0
      heatData = new Array;
      heatData_other = new Array;
      for (var i=0; i<updatesPositions.length ;i++)
      { 
         if (updatesPositions[i]['cat'] == 8)
         {
           lat= updatesPositions[i]['lat'];
           lng= updatesPositions[i]['lng'];
           heatData[j] = new google.maps.LatLng(lat, lng);
           j=j+1;
         }
         else
         {
          lat= updatesPositions[i]['lat'];
          lng= updatesPositions[i]['lng'];
          heatData_other[k] = new google.maps.LatLng(lat, lng);
          k=k+1;
         }         
      }
      heatmap = new google.maps.visualization.HeatmapLayer({
         data: heatData,
         radius: 15,
         opacity: 0.8
      });
      heatmap.setMap(map);
      heatmap = new google.maps.visualization.HeatmapLayer({
         data: heatData_other,
         radius: 15,
         opacity: 0.2
      });
       heatmap.setMap(map);
     });

   $('.normal').click( function() {
      heatmap.setMap(null);
      var j=0;
      var k=0
      heatData = new Array;
      heatData_other = new Array;
      for (var i=0; i<updatesPositions.length ;i++)
      { 
         if (updatesPositions[i]['cat'] == 9)
         {
           lat= updatesPositions[i]['lat'];
           lng= updatesPositions[i]['lng'];
           heatData[j] = new google.maps.LatLng(lat, lng);
           j=j+1;
         }
         else
         {
          lat= updatesPositions[i]['lat'];
          lng= updatesPositions[i]['lng'];
          heatData_other[k] = new google.maps.LatLng(lat, lng);
          k=k+1;
         }         
      }
      heatmap = new google.maps.visualization.HeatmapLayer({
         data: heatData,
         radius: 15,
         opacity: 0.8
      });
      heatmap.setMap(map);
      heatmap = new google.maps.visualization.HeatmapLayer({
         data: heatData_other,
         radius: 15,
         opacity: 0.2
      });
       heatmap.setMap(map);
     });

   $('.medium').click( function() {
      heatmap.setMap(null);
      var j=0;
      var k=0
      heatData = new Array;
      heatData_other = new Array;
      for (var i=0; i<updatesPositions.length ;i++)
      { 
         if (updatesPositions[i]['cat'] == 10)
         {
           lat= updatesPositions[i]['lat'];
           lng= updatesPositions[i]['lng'];
           heatData[j] = new google.maps.LatLng(lat, lng);
           j=j+1;
         }
         else
         {
          lat= updatesPositions[i]['lat'];
          lng= updatesPositions[i]['lng'];
          heatData_other[k] = new google.maps.LatLng(lat, lng);
          k=k+1;
         }         
      }
      heatmap = new google.maps.visualization.HeatmapLayer({
         data: heatData,
         radius: 15,
         opacity: 0.8
      });
      heatmap.setMap(map);
      heatmap = new google.maps.visualization.HeatmapLayer({
         data: heatData_other,
         radius: 15,
         opacity: 0.2
      });
       heatmap.setMap(map);
     });

    $('.dark').click( function() {
      heatmap.setMap(null);
      var j=0;
      var k=0
      heatData = new Array;
      heatData_other = new Array;
      for (var i=0; i<updatesPositions.length ;i++)
      { 
         if (updatesPositions[i]['cat'] == 11)
         {
           lat= updatesPositions[i]['lat'];
           lng= updatesPositions[i]['lng'];
           heatData[j] = new google.maps.LatLng(lat, lng);
           j=j+1;
         }
         else
         {
          lat= updatesPositions[i]['lat'];
          lng= updatesPositions[i]['lng'];
          heatData_other[k] = new google.maps.LatLng(lat, lng);
          k=k+1;
         }         
      }
      heatmap = new google.maps.visualization.HeatmapLayer({
         data: heatData,
         radius: 15,
         opacity: 0.8
      });
      heatmap.setMap(map);
      heatmap = new google.maps.visualization.HeatmapLayer({
         data: heatData_other,
         radius: 15,
         opacity: 0.2
      });
       heatmap.setMap(map);
     });
       $('.darkest').click( function() {
      heatmap.setMap(null);
      var j=0;
      var k=0
      heatData = new Array;
      for (var i=0; i<updatesPositions.length ;i++)
      { 
         lat= updatesPositions[i]['lat'];
         lng= updatesPositions[i]['lng'];
         heatData[j] = new google.maps.LatLng(lat, lng);
         j=j+1;
      }
      heatmap = new google.maps.visualization.HeatmapLayer({
         data: heatData,
         radius: 15,
         opacity: 0.8
      });
       heatmap.setMap(map);
     });

      return {
    start: function(opts) {
      updatesPositions = opts.updatesPositions;
    }
  };
}());

</script>

