<script id="updateTemplate" type="text/html">
<div id="update"> 
      <div class = "updateImage">
      </div>
      <div class = "updateComment textFont normalText darkText rightText smallestText">
              <div class="updateText leftText">
                  {{ username }}</br> 
                  <div class = "boldText darkText smallestText">
                  {{ comment }}</div>
                  {{ created_at}} 
              </div>
              <div class= "updateLike">
                  <span class="like-count">{{ likes }}</span>
              </div>
        </div>  
</div>
</script>
 


<%#= render '/updates/get_firebase_data(@lastUpdateTime)' %>


<script> $('.outerUpdateContainer').hide() </script>
<script> $('.outerUpdateContainer').delay(1500).fadeIn(1500); </script>


<!-- <input type='text' id='messageInput' placeholder='Message...'> -->

<script type='text/javascript'>
$(function(){
   var messagesRef = new Firebase('https://hot-spotter.firebaseio.com/');
   messagesRef.on('child_added', function (snapshot) {

   // var newMessage = new Firebase('https://hot-spotter.firebaseio.com/<%=Update.last.id-1%>')
   // newMessage.limit(10).once('value', function (snap){
      message = snapshot.val();
      console.log(message.comment);  

      var template = document.getElementById('updateTemplate').innerHTML;
      output = Mustache.render(template, message);
      document.getElementById('updateContent').innerHTML = output
      $('.updateContainer').child.prepend(output);

        // Add a callback that is triggered for each chat message.
  // messagesRef.limit(10).on('child_added', function (snapshot) {
  //   var message = snapshot.val();
  //   $('<div/>').text(message.text + ' at ' + message.created_at).prepend($('<em/>')
  //     .text(message.username+': ')).appendTo($('.updateContainer'));
  //   $('.updateContainer')[0].scrollTop = $('.updateContainer')[0].scrollHeight;
  // });

  });
});
</script>




