<h1>Live Updates</h1>

    <div id="googleMap" style="width:500px;height:380px;"></div>
    <%= render 'displayUpdates' %>

    <% if logged_in? %>
          <%#= link_to 'Post Update', new_update_path, class: 'btn' %>
    <% else %>
          <%= link_to 'Sign In to Update', new_session_path, class: 'btn' %>
    <% end %>


    <h1>lat long</h1>
 
<script>
window.MapModule.start({
    userLocations: <%= @heatmap_data.html_safe %>
});
</script>


