#responsive_map {height: 1080px; width: 100%;}
#responsive_map div {-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;}
.gm-style-iw {max-width: none !important; min-width: none !important; max-height: none !important; min-height: none !important; overflow-y: hidden !important; overflow-x: hidden !important; line-height: normal !important; padding: 5px !important; }

#googleMap{ /*overflow: hidden; */
			width: 100%;
			border-radius: 8px; 
			/*border: 7px solid rgba(159, 36, 40, 0.4);*/
			/*border: 7px solid rgba(158, 36, 497, 0.2);*/
			border: solid 7px rgba(105, 100, 442, 0.2);
			transition: width 500ms ease-in-out;
}

#googleMap.decrease{
	width: 90%;
}

#searchBox{
	position: absolute;
	margin-top: 2%;
	margin-left: 8%;
	z-index: 5;
}

#addressInput{
	-webkit-border-radius: 34px;
	padding-left: 20px;
	padding-right: 5px;
	width: 300px;
	height: 30px;
	border-radius: 34px;
	-webkit-box-shadow: 0px 0px 18px #000000;
	box-shadow: 0px 0px 18px #000000;
	background-image: -moz-linear-gradient(top, #ffffff, #969687);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#969687));
	background-image: -webkit-linear-gradient(top, #ffffff, #969687);
	background-image: linear-gradient(top, #ffffff, #969687);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	/*Use "background-clip: padding-box" when using rounded corners to avoid the gradient bleeding through the corners*/
	opacity: 0.8;
}

.markerIcon{
	width: 50px;
 	height: 50px;
 	overflow: hidden;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	/*border: solid 2px white;*/
	background: no-repeat;
	margin-left: 20%;
	margin-top: 10%;
	filter: none;
  -webkit-filter: grayscale(0%);
   transition:.8s;
   z-index: 2;
}
